body{
  margin: auto;
  padding: 10px;
  background-color:rgb(192, 238, 255);
}
div{
  background-color:  rgb(183, 223, 143);
  height: 400px;
  width: 100%;
  color: rgb(131, 30, 255);
}
h1{
  color: darkslategray;
}
